mixin nav-content()
  ul
    li: a(href="#me") me
    li: a(href="#projects") projects
    li: a(href="#contact") contact




header.is-show
  .container
    a(href="http://www.frankcoppolabove.com"): h1.logo Francesco Coppola Bove
    
    nav
      +nav-content()
    
    
    
    button.hamburger.hamburger--elastic
      span.hamburger-box
        span.hamburger-inner
    
