section.main
  .container
    .menu-mobile-wrap
      .menu-mobile
        nav
          ul
            li: a(href="#me") me
            li: a(href="#projects") projects
            li: a(href="#contact") contact
        .icon-div
          a(href="https://www.facebook.com/FrankCoppolaBove" target="_blank"): i.zmdi.zmdi-facebook
          a(href="Profilo pubblicohttps://it.linkedin.com/in/francescocoppolabove" target="_blank"): i.zmdi.zmdi-linkedin
          a(href="http://codepen.io/JonLaJoie/" target="_blank"): i.zmdi.zmdi-codepen
          a(href="mailto:f.coppolabove@icloud.com" target="_top"): i.zmdi.zmdi-email
          a(href="https://www.instagram.com/j0nlaj0ie/" target="_blank"): i.zmdi.zmdi-instagram
      #morph-shape.morph-shape(data-morph-open='M-1,0h101c0,0,0-1,0,395c0,404,0,405,0,405H-1V0z')
        svg(xmlns='http://www.w3.org/2000/svg', width='100%', height='100%', viewbox='0 0 100 800', preserveaspectratio='none')
          path(d='M-1,0C-1,0,100,0,100,0C100,0,100,-1,100,395C100,799,100,800,100,800C100,800,-1,800,-1,800C-1,800,-1,0,-1,0C-1,0,-1,0,-1,0')
      
    .main-text.col-3
      p
        | Hi folks, I'm 
        br
        span Frank Coppola Bove
      h2 Front-end developer & UX/UI designer.
      #typed-strings
        p Codying trendy websites.
        p Developing modern apps.
        p Knowing things is funny.
        p Playing my drum.
      span#typed
    .mouse
    .mouse-roll
