section.about
  height: auto
  color: black
  background-color: white
  padding: 100px 0
  &::before, &::after
    content: ''
    display: table
  &::after
    clear: both
  .big-text
    position: absolute
    top: -8%
    left: -10%
    width: 100%
    font-size: 11.3em
    font-weight: 900
    color: #f2f2f2
  .inner-about
    width: 100%
    position: relative
    &::before, &::after
      content: ''
      display: table
    &::after
      clear: both
    h3
      color: $second-color
      font-size: 5.4em
      font-weight: 500
      padding-left: 2%
    .about-words
      text-align: center
      width: 100%
      font-family: 'Roboto Mono'
    .skills-grid
      margin-top: 50px
      .skills
        text-align: center
        h4
          color: black
          text-align: center
          text-transform: uppercase
          font-size: 2.2em
        p
          font-size: 1.1em
          font-weight: 400


svg
  width: 120px


@media (max-width: 1579px)
  section.about
    .container
      .big-text
        span
          position: absolute
          left: 0


@media (max-width: 1000px)
  section.about
    .inner-about
      h3
        text-align: center

@media (max-width: 700px)
  section.about
    .big-text
      span
        display: none
    .inner-about
      .col-1
        width: 50%
        float: left
      .col
        height: 25em

@media (max-width: 460px)
  section.about
    .inner-about
      h3
        font-size: 3.8em


@media (max-width: 360px)
  section.about
    .inner-about
      .col-1
        width: 100%
      .col
        height: auto
        h4
          margin-top: -10px
        p
          margin-top: -30px
